.git
.idea
.vscode
.DS_Store
*.pyc
__pycache__/*
*/__pycache__/*
src/eegpp2/out/checkpoints/*
src/eegpp2/out/logs/*
src/eegpp2/out/figures/*
src/eegpp2/data/dump/*
src/eegpp2/data/raw/*
src/eegpp2/data/__pycache__/*
dist/*
src/eegpp3_beta.egg-info/*
src/eegpp3/out/checkpoints/*
git.push